.container {
  box-sizing: border-box;

  width: 600px;

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000000;
}

.offerHeader {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.offerHeaderButton {
  width: 156px;
  height: 38px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;

  color: #ffffff;

  opacity: 0.7;

  transition: 0.3s;
}

.offerHeaderButton:hover {
  opacity: 1;
}

.offerTextContainer {
  max-height: 172px;
  width: 100px;
  padding-left: 0.5rem;
  overflow-y: scroll;
}

.offerCollectionLabel {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.offerCollectionLabelImg {
  width: 32px;
  height: 32px;
  left: 625px;
  top: 345px;

  border-radius: 10px;
}

.offerCollectionLabelText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.9);
}

.offerContainer {
  box-sizing: border-box;

  width: 570px;
  height: 172px;
  left: 115px;
  top: 277px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 1rem;
}

.offerImageCard {
  width: 140px;
  height: 140px;

  border-radius: 10px;
}

.offerImageContainer {
  width: 450px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.offerImageContainer::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.considerationHeader {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  padding-top: 1rem;
}

.considerationContainer {
  box-sizing: border-box;

  width: 570px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 1rem;
}

.considerationItem {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 164px;
  height: 74px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.considerationItemText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.considerationItemImg {
  width: 40px;
  height: 40px;

  padding-right: 1rem;
  border-radius: 10px;
}
