.container {
  box-sizing: border-box;

  width: 700px;
  height: 420px;
  left: 81px;
  top: 204px;

  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 1.5rem 2rem;
}

.offerHeader {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.offerHeaderButton {
  width: 156px;
  height: 38px;
  left: 636px;
  top: 222px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.offerTextContainer {
  min-width: 180px;
  height: 74px;
  padding: 1rem;
}

.offerTextContainerAlice {
  min-width: 135px;
  padding-right: 1rem;
}

.offerCollectionLabel {
  display: flex;
  background-color: #000000;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

.offerCollectionLabel2 {
  display: flex;
  background-color: #000000;
  height: 100%;
  padding-top: 1rem;
  width: 100%;
  justify-content: flex-end;
}

.offerCollectionLabelImg {
  width: 32px;
  height: 32px;
  left: 625px;
  top: 345px;

  border-radius: 10px;
}

.offerCollectionLabelText {
  width: 90px;
  height: 24px;
  left: 665px;
  top: 349px;

  overflow: visible;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.offerContainer {
  box-sizing: border-box;

  width: 680px;
  height: 172px;
  left: 115px;
  top: 277px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.offerImageCard {
  min-width: 140px;
  height: 140px;

  border-radius: 10px;
}

.offerImageCardAlice {
  min-width: 120px;
  height: 140px;
  padding-right: 30px;

  border-radius: 10px;
}

.considerationHeader {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  padding-top: 1rem;
}

.considerationContainer {
  box-sizing: border-box;

  width: 677px;
  height: 99px;
  left: 115px;
  top: 496px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.considerationItem {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 74px;
  padding: 0 1rem;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.considerationItemText {
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.considerationItemImg {
  width: 40px;
  height: 40px;

  margin-right: 1rem;
  border-radius: 50%;
}

.offerImageContainer {
  width: 1000px;
  overflow: scroll;
}

.offerImageContainerAlice {
  width: 800px;
  overflow: scroll;
}
